<node id="radioRoot">
    <node id="radioHeader">
        <node id="radioTitle"></node>
    </node>
    <node id="radioLogo"></node>
    <node id="radioFooter">
        <node id="radioNav">
            <node id="btn1"></node>
            <node id="btn2"></node>
        </node>
    </node>

    <node id="programsRoot">
        <node id="programsHeader">
            <node id="programsTitle"></node>
        </node>
        <node id="slider">
            <node class="program"></node>
        </node>
        <node id="programsFooter">
            <node id="btn3"></node>
            <node id="btn4"></node>
            <node id="programsNav">
                <node id="back"></node>
                <node id="forw"></node>
            </node>
        </node>
    </node>
</node>
