<node id="radioRoot">
    <node id="radioHeader">
        <node id="radioTitle"></node>
    </node>
    <node id="radioLogo"></node>
    <node id="radioFooter"></node>

    <node id="programsRoot">
        <node id="programsHeader">
            <node id="programsTitle"></node>
        </node>
        <node id="slider">
            <node class="program"></node> </node>
        <node id="programsFooter">
            <node id="programsNav">
                <node id="back"></node>
                <node id="forw"></node>
            </node>
        </node>
    </node>
</node>
